{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Embudos | {% endblock %}

{% block content %}

{% include 'navbar.html' %}

{% include 'dashboard/admin/admin_navbar.html' %}

<div class="d-flex flex-column justify-content-between w-100 scroll-white position-relative">
    
  <div class="d-flex justify-content-between align-items-center gap-3 text-decoration-none p-3 border-bottom bg-body-tertiary" style="height: 63px">
    <div>
      <h5 class="m-0">Información del sector</h5>
      <p class="m-0 text-secondary"><small>Detalle del registro</small></p>
    </div>
    <div>
      <button class="btn btn-secondary" onclick="volverAtras()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"/>
        </svg>
        Volver
      </button>
    </div>
  </div>

  <div class="d-flex flex-column gap-2 bg-body-secondary p-3 h-100 overflow-y-scroll">
    <div>
      <h6 class="m-0">Usuario:</h6>
      <p>{{ object.username }}</p>
      <h6 class="m-0">Nombre:</h6>
      <p>{{ object.first_name|default:'Sin completar' }}</p>
      <h6 class="m-0">Apellido:</h6>
      <p>{{ object.last_name|default:'Sin completar' }}</p>
      <h6 class="m-0">Email:</h6>
      <p>{{ object.email|default:'Sin completar' }}</p>
      <h6 class="m-0">Roles:</h6>
      <p>{{ object.groups }}</p>
      <h6 class="m-0">Activo:</h6>
      {% if object.is_active %}
        <span class="badge bg-success-subtle text-success">Sí</span>
      {% else %}
        <span class="badge bg-danger-subtle text-danger">No</span>
      {% endif %}
    </div>
    <div>
      <a href="{% url 'usuario-actualizar' object.pk %}" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
        </svg>
        Actualizar
      </a>
      <a href="{% url 'usuario-borrar' object.pk %}" class="btn btn-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
        Eliminar
      </a>
    </div>
  </div>

  </div>
</div>
{% endblock %}