{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Embudos | {% endblock %}

{% block content %}

{% include 'navbar.html' %}

{% include 'dashboard/admin/admin_navbar.html' %}

<div class="d-flex flex-column justify-content-between w-100 scroll-white position-relative bg-body-secondary">
    
  <div class="d-flex justify-content-between align-items-center gap-3 text-decoration-none p-3 border-bottom bg-body-tertiary" style="height: 63px">
    <div>
      <h5 class="m-0">Lista de sectores</h5>
      <p class="m-0 text-secondary"><small>Alta, baja y modificación</small></p>
    </div>
    <div>
      <a href="{% url 'sector-crear' %}" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
        Crear nuevo
      </a>
    </div>
  </div>
  
  <div class="d-flex flex-column overflow-y-scroll p-3 h-100">
    <div class="bg-body-secondary" style="max-width: 800px;">

    <table class="table table-bordered bg-light rounded-3">
      <thead>
        <tr class="">
          <th class="text-center" scope="col" style="width: 50px;">#</th>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr class="tr-linea" data-href="{% url 'sector-detalle' object.id %}">
          <th class="text-center" scope="row">{{ object.id }}</th>
          <td>{{ object.nombre }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'paginator.html' %}

    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/redireccionTabla.js' %}"></script>
{% endblock %}