{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Log in | {% endblock %}

{% block content %}

{% include 'navbar.html' %}

  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary border-end" style="width: 380px;">
      <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">Chats</span>
      </a>
      <div class="list-group list-group-flush border-bottom overflow-y-scroll">

        {% for room in rooms %}
        <a href="{% url 'room:chat' room.slug %}" class="d-flex gap-2 list-group-item py-3 lh-sm">
          <div>
            <img src="{% static 'img/logo.png' %}" alt="mdo" width="48" height="48" class="rounded-circle border">
          </div>

          <div class="w-100">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column mb-1">
                {% if room.nombre %}
                  <strong>{{ room.nombre }} {{ room.apellido}} - {{ room.nro_socio }}</strong>
                {% else %}
                  <strong>{{ room.telefono }}</strong>
                {% endif %}
                <small class="text-primary">{{ room.dni }}</small>
              </div>
              <small class="text-body-secondary">
                {% now "d/m/Y" as todays_date %}
                {% if todays_date == room.last_message_date|date:"d/m/Y" %}
                  {{ room.last_message_date|time:"H:i" }}
                {% else %}
                  {{ room.last_message_date|date:"d/m/Y" }}
                {% endif %}
              </small>
            </div>
            <div class="col-10 mb-1 small fst-italic">
              {% if room.last_message_user %}
                <span>{{ room.last_message_user }}: </span>
                <span>{{ room.last_message_content|truncatechars:50 }}</span>
              {% endif %}
            </div>
          </div>
        </a>
        {% endfor %}

      </div>
  </div>

  {% if chat_messages %}
    {% include 'room/messages.html' %}
  {% else %}
    <div class="flex-grow-1 d-flex align-items-center justify-content-center bg-body-tertiary">
      <p class="text-secondary">Seleccione un chat para enviar mensajes</p>
    </div>
  {% endif %}

{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const urlWS = 'wss://' + window.location.host + '/ws/' + roomName + '/'
    const chatSocket = new WebSocket(urlWS);

    console.log(roomName)
    console.log(userName)
    console.log(urlWS)

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.message) {
          const now = new Date();
          const day = now.getDate();
          const month = now.getMonth() + 1;
          const year = now.getFullYear();
          const hours = now.getHours();
          const minutes = now.getMinutes();
          const formattedDate = `${day}/${month}/${year} ${hours}:${minutes}`;
          const align = userName == data.username? 'align-self-end' : 'align-self-start'
          document.querySelector('#chat-messages').innerHTML += (
            `<div class="${align} d-flex flex-column p-2 bg-white border rounded">
              <div>
                <small class="text-secondary">${formattedDate} -</small>
                <small class="text-secondary">${data.username}:</small>
              </div>
              <small style="max-width: 60%;">${data.message}</small>
            </div>`
          );
        } else {
            alert('The message was empty!')
        }
        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();

    form = document.querySelector('#form-chat-submit')
    form.addEventListener('submit', function(e) {
      e.preventDefault()

      const messageInputDom = document.querySelector('#chat-message-input');
      const message = messageInputDom.value;

      console.log({
          'message': message,
          'username': userName,
          'room': roomName
      })

      chatSocket.send(JSON.stringify({
          'message': message,
          'username': userName,
          'room': roomName
      }));

      messageInputDom.value = '';

      //return false
      });

    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();
</script>

{% endblock %}