<div id="tarjeta-default" class="usi-card d-flex gap-2 list-group-item lh-sm border rounded position-relative display-none-important" data-contacto="">
    <a href="#" class="d-flex gap-2 list-group-item p-2 position-relative w-100" data-slug="">

        <div class="d-flex justify-content-center align-items-center">
            <img src="#" alt="mdo" width="55" height="55" class="rounded-circle border" data-thumbnail="">
        </div>

        <div class="w-100">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column pe-2">
                    <strong data-cabecera=""></strong>
                    <small class="text-primary" data-dni=""></small>
                </div>
            </div>
            <div style="width: 10px; height: 10px; top:5px; left:5px;" class="bg-primary rounded-circle position-absolute" data-no_leido></div>
            <div class="col-12">
                <p class="mb-0 small fst-italic">
                    <span data-usuario=""></span>
                    <span data-mensaje=""></span>
                </p>
                <small class="text-body-secondary flex-end" data-fecha=""></small>
            </div>
        </div>
    </a>

    <div class="dropdown position-absolute top-0 end-0">
        <button class="btn py-0 px-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none !important; outline: none;"></button>
        <ul class="dropdown-menu">
            <li><span class="dropdown-item disabled">Mover a ...</span></li>
            <li><hr class="dropdown-divider"></li>
            {% for sector in embudos %}
                <li>
                    <span class="dropdown-header">{{ sector }}</span>
                    <ul class="list-unstyled">
                    {% for sector_tarea in sector.sectortarea_set.all %}
                        <form class="form-sector-change" action="/" data-sector_destino="{{ sector_tarea.sector.id }}" data-tarea_sector_destino="{{ sector_tarea.id }}">
                            {% csrf_token %}
                            <li class=""><button type="submit" class="dropdown-item">• {{ sector_tarea }}</button></li>
                        </form>
                    {% endfor %}
                    </ul>
                </li>
                <li><hr class="dropdown-divider"></li>
            {% endfor %}
        </ul>
    </div>
</div>