{% load static %}

<div class="d-flex flex-column justify-content-between w-100">
    
    <div class="d-flex align-items-center gap-3 link-body-emphasis text-decoration-none p-3 border-bottom bg-body-tertiary" style="height: 63px">
      <img src="{% static 'img/logo.png' %}" alt="ameport_logo" width="48" height="48" class="rounded-circle">
      <div>
        {% if contacto.nombre %}
            <h6 class="m-0">{{ contacto.nombre }} {{ contacto.apellido}} - {{ contacto.nro_socio }}</h6>
        {% else %}
            <h6 class="m-0">{{ contacto.telefono }}</h6>
        {% endif %}
        <p class="m-0 text-secondary"><small>Seleccione para obtener información del contacto</small></p>
      </div>
    </div>

    <div id="chat-messages" class="d-flex flex-column bg-body-secondary p-2 h-100 overflow-y-scroll">
        {% for mensaje in contacto_mensajes %}
        {% if test %}            
            <div style="max-width: 60%;" class="{% if mensaje.usuario %} align-self-start {% else %} align-self-end {% endif %} d-flex flex-column p-2 bg-white border rounded">
        {% else %}
            <div style="max-width: 60%;" class="{% if mensaje.usuario %} align-self-end {% else %} align-self-start {% endif %} d-flex flex-column p-2 bg-white border rounded">
        {% endif %}
            <div>
                <small class="text-secondary">{{ mensaje.fecha_hora|date:"d/m/Y" }} {{ mensaje.fecha_hora|time:"H:i" }} -</small>
                <small class="text-secondary">
                    {% if mensaje.usuario %}
                        {{ mensaje.usuario }}
                    {% else %}
                        {{ contacto.nombre }}
                    {% endif %}
                </small>
            </div>
            <small>{{ mensaje.contenido }}</small>
        </div>
        {% endfor %}
    </div>
    
    <div class="bg-body-tertiary p-3">
        <form id="form-chat-submit" class="d-flex justify-content-center align-items-center gap-2" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control" id="chat-message-input" placeholder="Escribe un mensaje...">
            <button id="chat-message-submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                </svg>
            </button>
        </form>
    </div>

</div>