{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Chats | {% endblock %}

{% block content %}

{% include 'navbar.html' %}

  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-union border-end" style="width: 380px;">
      <div href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom border-union">
        <!-- <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg> -->
        <span class="fs-5 fw-semibold text-white">Conversaciones</span>
      </div>
      <div id="room-list" class="list-group list-group-flush overflow-y-scroll h-100">
        {% for contacto in contactos %}
          {% include 'chat/components/tarjeta_contacto.html' %}
        {% endfor %}
      </div>
  </div>

  {% if contacto_mensajes %}
    {% include 'chat/components/caja_chat.html' %}
  {% else %}
    <div class="flex-grow-1 d-flex align-items-center justify-content-center bg-body-tertiary">
      <p class="text-secondary">Seleccione un chat para enviar mensajes</p>
    </div>
  {% endif %}

{% endblock %}

{% block scripts %}
  {{ contacto.id|json_script:"json-roomname" }}
  {{ request.user.username|json_script:"json-username" }}
  {{ contacto.telefono|json_script:"json-phone-number" }}
  {{ integracion|json_script:"json-integracion" }}
  {{ debug|json_script:"json-debug" }}
  <script id="json-ambiente" type="application/json">"Produccion"</script>
  <script type="" src="{% static 'js/chatWebSocket.js' %}"></script>
{% endblock %}