{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Chats | {% endblock %}

{% block content %}

{% include 'navbar.html' %}

  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-primary-subtle border-end" style="width: 380px;">
      <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">Chats</span>
      </a>
      <div id="room-list" class="list-group list-group-flush border-bottom overflow-y-scroll">
        {% for contacto in contactos %}
        <a id="{{ contacto.nro_socio }}" href="{% url 'room:chat-dev' contacto.id %}" class="d-flex gap-2 list-group-item py-3 lh-sm">
          <div>
            <img src="{% static 'img/logo.png' %}" alt="mdo" width="48" height="48" class="rounded-circle border">
          </div>
      
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column mb-1">
                {% if contacto.nombre %}
                  <strong>{{ contacto.nombre }} {{ contacto.apellido}} - {{ contacto.nro_socio }}</strong>
                {% else %}
                  <strong>{{ contacto.telefono }}</strong>
                {% endif %}
                <small class="text-primary">{{ contacto.dni }}</small>
              </div>
              <small class="text-body-secondary message-date">
                {% now "d/m/Y" as todays_date %}
                {% if todays_date == contacto.last_message_date|date:"d/m/Y" %}
                  {{ contacto.last_message_date|time:"H:i" }}
                {% else %}
                  {{ contacto.last_message_date|date:"d/m/Y" }}
                {% endif %}
              </small>
            </div>
            <div class="col-10 mb-1 small">
              {% if contacto.last_message_user %}
                {{ contacto.last_message_user }}:
              {% else %}
                {{ contacto.nombre }}:
              {% endif %}
              {{ contacto.last_message_content|truncatechars:50 }}
            </div>
          </div>
      </a>
        {% endfor %}
      </div>
  </div>

  {% now "d/m/Y" as test %}
  {% if contacto_mensajes %}
    {% include 'chat/caja_chat.html' %}
  {% else %}
    <div class="flex-grow-1 d-flex align-items-center justify-content-center bg-body-tertiary">
      <p class="text-secondary">Seleccione un chat para enviar mensajes</p>
    </div>
  {% endif %}

{% endblock %}

{% block scripts %}
  {{ contacto.id|json_script:"json-roomname" }}
  {{ request.user.username|json_script:"json-username" }}
  {{ contacto.telefono|json_script:"json-phone-number" }}
  {{ integracion|json_script:"json-integracion" }}
  <script id="json-ambiente" type="application/json">"Homologacion"</script>
  <script type="" src="{% static 'js/chatWebSocket.js' %}"></script>
{% endblock %}