{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Chats | {% endblock %}

{% block content %}

{% include 'navbar.html' %}

  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-union border-end scroll-union" style="width: 380px;">
      <div class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom border-union">
        <!-- <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg> -->
        <span class="fs-5 fw-semibold text-white">Conversaciones</span>
      </div>
      <form class="p-3 pb-0" method="get">
        <div class="input-group mb-3">
          <button class="btn bg-white pe-0 text-secondary" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
          </button>
          <input type="text" class="form-control input-buscar" name="buscar" if="buscar" value="{{ request.GET.buscar }}" placeholder="Buscar por nombre, nº socio o DNI">
        </div>
      </form>
      <div id="room-list" class="list-group list-group-flush overflow-y-scroll h-100">
        <h6 class="text-white-50 ps-3">Resultado de la búsqueda: {{ contactos|length }}</h6>
        {% for contacto in contactos %}
          {% include 'chat/components/tarjeta_contacto.html' %}
        {% endfor %}
      </div>
  </div>

  {% if contacto_mensajes %}
    {% include 'chat/components/caja_chat.html' %}
  {% else %}
    <div class="flex-grow-1 d-flex align-items-center justify-content-center bg-body-tertiary">
      {% if mensaje_error %}
        <p class="alert alert-danger">{{ mensaje_error }}</p>
      {% else %}
        <p class="text-secondary">Seleccione un chat para enviar mensajes</p>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}

{% block scripts %}
  {{ contacto.id|json_script:"json-roomname" }}
  {{ request.user.username|json_script:"json-username" }}
  {{ contacto.telefono|json_script:"json-phone-number" }}
  {{ integracion|json_script:"json-integracion" }}
  {{ debug|json_script:"json-debug" }}
  <script id="json-ambiente" type="application/json">"Produccion"</script>
  <script type="" src="{% static 'js/chatWebSocket.js' %}"></script>
{% endblock %}