{% load static %}
{% load humanize %}


<div class="d-flex flex-column w-100 bg-body-tertiary">
    
    <a href="/" class="d-flex align-items-center gap-3 link-body-emphasis text-decoration-none p-3 border-bottom bg-body-tertiary" style="height: 63px">
      <div>
        <h5 class="m-0 fs-5 fw-semibold">{{ embudo.nombre }}</h5>
      </div>
    </a>

    
    <div class="d-flex p-2 gap-2 bg-body-tertiary overflow-hidden" data-sector="{{ embudo.id }}" style="height: 90vh;">
        {% for sector_tarea in sector_tareas %}
        <div class="d-flex flex-column bg-white p-3">
            <h5 class="text-center">{{ sector_tarea }}</h5>
            <div class="d-flex flex-column gap-2" style="width: 350px;" data-sector_tarea="{{ sector_tarea.id }}">
                {% for contacto_tarea in sector_tarea.contactotarea_set.all %}
                    {% with contacto_integracion=contacto_tarea.contacto_integracion %}
                        <div class="usi-card d-flex gap-2 list-group-item lh-sm border rounded position-relative" data-contacto="{{ contacto_integracion.id }}">
                            <a href="{% url 'room:chat' contacto_integracion.id %}" class="d-flex gap-2 list-group-item p-2 position-relative w-100" data-slug>


                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="{% static 'img/logo.png' %}" alt="mdo" width="55" height="55" class="rounded-circle border" data-thumbnail>
                                </div>
                    
                                <div class="w-100">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-column pe-2">
                                            {% if contacto_integracion.contacto.nombre %}
                                            <strong data-cabecera>{{ contacto_integracion.contacto.nombre }} {{ contacto_integracion.contacto.apellido}} - {{ contacto_integracion.contacto.nro_socio }}</strong>
                                            {% else %}
                                            <strong data-cabecera>{{ contacto_integracion.contacto.telefono }}</strong>
                                            {% endif %}
                                            <small class="text-primary" data-dni>{{ contacto_integracion.contacto.dni }}</small>
                                        </div>
                                    </div>
                                    {% with ultimo_mensaje=contacto_integracion.messages.last %}
                                    {% if not ultimo_mensaje.usuario %}
                                        <div style="width: 10px; height: 10px; top:5px; left:5px;" class="bg-primary rounded-circle position-absolute" data-no_leido></div>
                                    {% endif %}

                                    <div class="col-12">
                                        <p class="mb-0 small fst-italic" >
                                            <span data-usuario>
                                                {% if ultimo_mensaje.usuario %}
                                                    {{ ultimo_mensaje.usuario }}: 
                                                {% else %}
                                                    <!-- {{ ultimo_mensaje.contacto }}:  -->
                                                    {{ contacto_integracion.contacto.nombre }}:
                                                {% endif %}
                                            </span>
                                            <span data-mensaje>{{ ultimo_mensaje.contenido|truncatechars:50 }}</span>
                                        </p>
                                        <small class="text-body-secondary flex-end" data-fecha>
                                            {% now "d/m/Y" as todays_date %}
                                            {% if todays_date == ultimo_mensaje.fecha_hora|date:"d/m/Y" %}
                                                {{ ultimo_mensaje.fecha_hora|time:"H:i" }}
                                            {% else %}
                                                {{ ultimo_mensaje.fecha_hora|date:"d/m/Y" }}
                                            {% endif %}
                                        </small>
                                    </div>
                                    {% endwith %}
                                </div>
                            </a>
                            <div class="dropdown position-absolute top-0 end-0">
                                <button class="btn py-0 px-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none !important; outline: none;"></button>
                                <ul class="dropdown-menu">
                                    <li><span class="dropdown-item disabled">Mover a ...</span></li>
                                    <li><hr class="dropdown-divider"></li>
                                    {% for sector in embudos %}
                                        <li>
                                            <span class="dropdown-header">{{ sector }}</span>
                                            <ul class="list-unstyled">
                                            {% for sector_tarea in sector.sectortarea_set.all %}
                                                    <form class="form-sector-change" action="/" data-sector_destino="{{ sector_tarea.sector.id }}" data-tarea_sector_destino="{{ sector_tarea.id }}">
                                                        {% csrf_token %}
                                                        <li class=""><button type="submit" class="dropdown-item">• {{ sector_tarea }}</button></li>
                                                    </form>
                                            {% endfor %}
                                            </ul>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

{% include 'chat/tarjeta_default.html' %}

{% block scripts %}
<script src="{% static 'js/embudoWebSocket.js' %}"></script>
{% endblock %}
