{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}Customer Service</title>

        <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- FontAwesome -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> -->
        <!-- DataTables -->
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" /> -->

        {% block styles %}{% endblock %}

    </head>

    <script>
        function manejarArchivoEliminadoIzq(elemento) {
            elemento.onerror = null;
            elemento.src = '{% static "img/missing-file-izq.png" %}';
        }
        function manejarArchivoEliminadoDer(elemento) {
            elemento.onerror = null;
            elemento.src = '{% static "img/missing-file-der.png" %}';
        }
    </script>

    <body class="d-flex vh-100 vw-100">

        {% block content %}
        {% endblock %}

        <script src="{% static 'libs/bootstrap/bootstrap.bundle.min.js' %}"></script>

        <!-- JQuery -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
        <!-- DataTables -->
        <!-- <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script> -->
        
        {% block scripts %}
        {% endblock %}

    </body>
</html>