<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link text-union" href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
        </li>
        <li class="page-item">
          <a class="page-link text-union" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <p class="page-link text-union">&laquo; Anterior</p>
        </li>
      {% endif %}

      <li class="page-item">
        <p class="page-link text-white" style="background-color: #2C3E50">{{ page_obj.number }}</p>
      </li>
      
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link text-union" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        </li>
        <li class="page-item">
          <a class="page-link text-union" href="?page={{ page_obj.next_page_number }}">Siguiente &raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <p class="page-link text-union">Siguiente &raquo;</p>
        </li>
      {% endif %}

    </ul>
  </nav>
