{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Embudos | {% endblock %}

{% block content %}

{% include 'navbar.html' %}

{% include 'dashboard/admin/admin_navbar.html' %}

<div class="d-flex flex-column justify-content-between w-100 scroll-white position-relative">
    
  <div class="d-flex justify-content-between align-items-center gap-3 text-decoration-none p-3 border-bottom bg-body-tertiary" style="height: 63px">
    <div>
      <h5 class="m-0">Lista de tareas</h5>
      <p class="m-0 text-secondary"><small>Alta, baja y modificación</small></p>
    </div>
    <div>
      <a href="{% url 'tarea-crear' %}" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
        Crear nuevo
      </a>
    </div>
  </div>

  <div class="d-flex flex-row gap-4 bg-body-secondary p-3 h-100 overflow-y-scroll">

    <div class="flex-grow-1">
      <table class="table table-bordered bg-light rounded-3">
        <thead>
          <tr class="">
            <th class="text-center" scope="col" style="width: 50px;">#</th>
            <th scope="col">
              <a href="?sector={{sector}}&{% if ordenar != 'nombre' %}ordenar=nombre{% else %}ordenar=-nombre{% endif %}" class="text-decoration-none text-dark d-flex justify-content-between align-items-center">
                Nombre
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                </svg>
              </a>
            </th>
            <th scope="col">
              <a href="?sector={{sector}}&{% if ordenar != 'sector' %}ordenar=sector{% else %}ordenar=-sector{% endif %}" class="text-decoration-none text-dark d-flex justify-content-between align-items-center">
                Sector
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                </svg>
              </a>
            </th>
            <th scope="col">
              <a href="?sector={{sector}}&{% if ordenar != 'orden' %}ordenar=orden{% else %}ordenar=-orden{% endif %}" class="text-decoration-none text-dark d-flex justify-content-between align-items-center">
                Orden
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                </svg>
              </a>
            </th>
            <th scope="col">
              <a href="?sector={{sector}}&{% if ordenar != 'activo' %}ordenar=activo{% else %}ordenar=-activo{% endif %}" class="text-decoration-none text-dark d-flex justify-content-between align-items-center">
                Activo
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                </svg>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr class="tr-linea" data-href="{% url 'tarea-detalle' object.pk %}">
            <th class="text-center" scope="row">{{ object.id }}</th>
            <td>{{ object.nombre }}</td>
            <td>{{ object.sector }}</td>
            <td>{{ object.orden }}</td>
            {% if object.activo %}
              <td class="text-center">
                <span class="badge bg-success-subtle text-success">Sí</span>
              </td>
            {% else %}
              <td class="text-center">
                <span class="badge bg-danger-subtle text-danger">No</span>
              </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' %}
    </div>

    <div id="filter" style="width: 250px;">
      <div class="list-group">
        <a class="list-group-item list-group-item-action border-light-subtle bg-union-no-hover" aria-disabled="true">Filtrar por sectores</a>
        <a href="?" class="list-group-item list-group-item-action border-light-subtle" aria-current="true"><small>Todos</small></a>
        {% for sector in sectores %}
          <a href="?sector={{ sector.id }}" class="list-group-item list-group-item-action border-light-subtle"><small>{{ sector.nombre }}</small></a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/redireccionTabla.js' %}"></script>
{% endblock %}