{% load static %}

<div class="d-flex flex-column justify-content-between w-100 scroll-white position-relative">
    
    <div class="d-flex align-items-center gap-3 text-decoration-none p-3 border-bottom bg-body-tertiary" style="height: 63px">
      <img src="{% static 'img/logo.png' %}" alt="ameport_logo" width="48" height="48" class="rounded-circle">
      <div>
        {% if contacto.nombre %}
            <h6 class="m-0">{{ contacto.nombre }} {{ contacto.apellido}} - {{ contacto.nro_socio }}</h6>
        {% else %}
            <h6 class="m-0">{{ contacto.telefono }}</h6>
        {% endif %}
        <p class="m-0 text-secondary"><small>Ver barra lateral izquierda para más información</small></p>
      </div>
    </div>

    <div id="chat-messages" class="d-flex flex-column gap-2 bg-body-secondary p-2 h-100 overflow-y-scroll">
        {% for mensaje in contacto_mensajes %}

            {% if test %}
                {% if mensaje.usuario %}
                    {% include 'chat/components/caja_chat_mensaje_izq.html' %}
                {% else %}
                   {% include 'chat/components/caja_chat_mensaje_der.html' %}
                {% endif %}
            {% else %}
                {% if mensaje.usuario %}
                    {% include 'chat/components/caja_chat_mensaje_der.html' %}
                {% else %}
                    {% include 'chat/components/caja_chat_mensaje_izq.html' %}
                {% endif %}
            {% endif %}

        {% endfor %}
    </div>

    <div class="bg-body-tertiary p-3">
        <form id="form-chat-submit" class="d-flex justify-content-center align-items-center gap-2" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-control" type="text" id="chat-message-input" placeholder="Escribe un mensaje...">
            <!-- <input class="form-control" type="file" id="file-attached" multiple style="width: 300px;"> -->

            <!-- Botón Emojis -->
            <button id="emojiButton" type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
                </svg>
            </button>

            <div id="emojiContainer" style="position: absolute; bottom: 70px; right: 70px; display: none;">
                <emoji-picker class="light"></emoji-picker>
            </div>

            <!-- Botón de adjuntos -->
            <div class="dropup-center dropup">
                <button id="attached-button" class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                        <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"/>
                    </svg>
                </button>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header text-union" id="amount-files">Sin archivos adjuntos</h6></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" id="file-attached-button" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
                              </svg>
                            Adjuntar archivos
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" id="delete-attached-button" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                            Borrar adjuntos
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Input de adjuntos oculto -->
            <input type="file" id="file-attached" class="d-none" multiple />

            <!-- Toast Adjuntos -->
            <div class="toast-container position-fixed p-3" style="right: 10px; bottom: 65px;">
                <div id="liveToast" class="toast" role="status" aria-live="polite" aria-atomic="true" data-bs-delay="2500">
                    <div class="toast-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                        <strong class="me-auto ps-1">Actualización realizada</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" id="toast-attached">Se eliminaron los adjuntos</div>
                </div>
            </div>

            <!-- Enviar mensaje -->
            <button id="chat-message-submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                </svg>
            </button>
        </form>
    </div>

    <!-- Error  -->
    <div id="box-error" class="modal-dialog position-absolute z-3 d-flex d-none" role="document" style="width: 350px; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="modal-content rounded-4 shadow bg-white m-3 p-3" >
            <div class="modal-header border-bottom-0">
            <h2 class="modal-title fs-5">[Titulo del error]</h2>
            <button type="button" class="btn-close" data-bs-close="modal"></button>
            </div>
            <div class="modal-body py-0">
            <p>[Mensaje del error]</p>
            </div>
            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 mt-3 pb-3 border-top-0">
            <a href="{{ request.path }}" class="btn btn-danger">Recargar</a>
            <!-- <button type="button" class="btn btn-secondary" data-bs-close="modal">Close</button> -->
            </div>
        </div>
    </div>

</div>