{% load static %}

<div class="d-flex flex-column justify-content-between w-100 scroll-white position-relative">
    
    <div class="d-flex align-items-center gap-3 text-decoration-none p-3 border-bottom bg-body-tertiary" style="height: 63px">
      <img src="{% static 'img/logo.png' %}" alt="ameport_logo" width="48" height="48" class="rounded-circle">
      <div>
        {% if contacto.nombre %}
            <h6 class="m-0">{{ contacto.nombre }} {{ contacto.apellido}} - {{ contacto.nro_socio }}</h6>
        {% else %}
            <h6 class="m-0">{{ contacto.telefono }}</h6>
        {% endif %}
        <p class="m-0 text-secondary"><small>Ver barra lateral izquierda para más información</small></p>
      </div>
    </div>

    <div id="chat-messages" class="d-flex flex-column gap-2 bg-body-secondary p-2 h-100 overflow-y-scroll">
        {% for mensaje in contacto_mensajes %}

            {% if test %}
                {% if mensaje.usuario %}
                    {% include 'chat/components/caja_chat_mensaje_izq.html' %}
                {% else %}
                   {% include 'chat/components/caja_chat_mensaje_der.html' %}
                {% endif %}
            {% else %}
                {% if mensaje.usuario %}
                    {% include 'chat/components/caja_chat_mensaje_der.html' %}
                {% else %}
                    {% include 'chat/components/caja_chat_mensaje_izq.html' %}
                {% endif %}
            {% endif %}

        {% endfor %}
    </div>
    
    <div class="bg-body-tertiary p-3">
        <form id="form-chat-submit" class="d-flex justify-content-center align-items-center gap-2" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-control" type="text" id="chat-message-input" placeholder="Escribe un mensaje...">
            <input class="form-control" type="file" id="file-attached" multiple style="width: 300px;">
            <button id="chat-message-submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                </svg>
            </button>
        </form>
    </div>

    <!-- Error  -->
    <div id="box-error" class="modal-dialog position-absolute z-3 d-flex d-none" role="document" style="width: 350px; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="modal-content rounded-4 shadow bg-white m-3 p-3" >
            <div class="modal-header border-bottom-0">
            <h2 class="modal-title fs-5">[Titulo del error]</h2>
            <button type="button" class="btn-close" data-bs-close="modal"></button>
            </div>
            <div class="modal-body py-0">
            <p>[Mensaje del error]</p>
            </div>
            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 mt-3 pb-3 border-top-0">
            <a href="{{ request.path }}" class="btn btn-danger">Recargar</a>
            <!-- <button type="button" class="btn btn-secondary" data-bs-close="modal">Close</button> -->
            </div>
        </div>
    </div>

</div>