{% load static %}
{% load humanize %}


<div class="d-flex flex-column bg-body-tertiary position-relative">
    
    <div class="d-flex align-items-center gap-3 text-decoration-none p-3 border-bottom bg-body-tertiary" style="height: 63px">
      <div>
        <h5 class="m-0 fs-5 fw-semibold">{{ embudo.nombre }}</h5>
      </div>
    </div>

    
    <div class="d-flex p-2 gap-2 bg-body-tertiary overflow-auto" data-sector="{{ embudo.id }}" style="width: calc(100vw - 458px); height: calc(100vh - 63px);">
        {% for sector_tarea in sector_tareas %}
        <div class="d-flex flex-column bg-white p-3">
            <h5 class="text-center">{{ sector_tarea }}</h5>
            <div class="d-flex flex-column gap-2" style="width: 350px;" data-sector_tarea="{{ sector_tarea.id }}">
                {% for contacto_tarea in sector_tarea.contactotarea_set.all %}
                    {% with contacto_integracion=contacto_tarea.contacto_integracion %}
                        <div class="usi-card d-flex gap-2 list-group-item lh-sm border rounded position-relative" data-contacto="{{ contacto_integracion.id }}">
                            <a href="{% url 'contacto:chat' contacto_integracion.id %}" class="d-flex gap-2 list-group-item p-2 position-relative w-100" data-slug>


                                <div class="d-flex justify-content-center align-items-center position-relative">
                                    <img src="{% static 'img/logo.png' %}" alt="mdo" width="55" height="55" class="rounded-circle border" data-thumbnail>
                                </div>
                    
                                <div class="w-100">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-column pe-2">
                                            {% if contacto_integracion.contacto.nombre %}
                                            <strong data-cabecera>{{ contacto_integracion.contacto.nombre }} {{ contacto_integracion.contacto.apellido}} - {{ contacto_integracion.contacto.nro_socio }}</strong>
                                            {% else %}
                                            <strong data-cabecera>{{ contacto_integracion.contacto.telefono }}</strong>
                                            {% endif %}
                                            <small class="text-primary" data-dni>{{ contacto_integracion.contacto.dni }}</small>
                                        </div>
                                    </div>
                                    {% with ultimo_mensaje=contacto_integracion.mensajes.last %}
                                    {% if not ultimo_mensaje.usuario %}
                                        <div style="width: 10px; height: 10px; top:5px; left:5px;" class="bg-danger rounded-circle position-absolute" data-no_leido></div>
                                        <!-- 
                                        <span class="position-absolute top-0 start-0 translate-middle p-2 bg-danger border border-light rounded-circle">
                                            <span class="visually-hidden">New alerts</span>
                                        </span>
                                         -->
                                    {% endif %}

                                    <div class="col-12">
                                        <p class="mb-0 small fst-italic" >
                                            <span data-usuario>
                                                {% if ultimo_mensaje.usuario %}
                                                    {{ ultimo_mensaje.usuario }}: 
                                                {% else %}
                                                    <!-- {{ ultimo_mensaje.contacto }}:  -->
                                                    {{ contacto_integracion.contacto.nombre }}:
                                                {% endif %}
                                            </span>
                                            <span data-mensaje>{{ ultimo_mensaje.contenido|truncatechars:50 }}</span>
                                        </p>
                                        <small class="text-body-secondary flex-end" data-fecha>
                                            {% now "d/m/Y" as todays_date %}
                                            {% if todays_date == ultimo_mensaje.fecha_hora|date:"d/m/Y" %}
                                                <!-- {{ ultimo_mensaje.fecha_hora|time:"H:i" }} -->
                                                {{ ultimo_mensaje.fecha_hora|date:"d/m/Y H:i" }}
                                            {% else %}
                                                {{ ultimo_mensaje.fecha_hora|date:"d/m/Y H:i" }}
                                            {% endif %}
                                        </small>
                                    </div>
                                    {% endwith %}
                                </div>
                            </a>
                            <div class="dropdown position-absolute top-0 end-0">
                                <button class="btn py-0 px-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none !important; outline: none;"></button>
                                <ul class="dropdown-menu">
                                    <li><span class="dropdown-item disabled">Mover a ...</span></li>
                                    <li><hr class="dropdown-divider"></li>
                                    {% for sector in embudos %}
                                        <li>
                                            <span class="dropdown-header">{{ sector }}</span>
                                            <ul class="list-unstyled">
                                            {% for sector_tarea in sector.sectortarea_set.all %}
                                                    <form class="form-sector-change" action="/" data-sector_destino="{{ sector_tarea.sector.id }}" data-tarea_sector_destino="{{ sector_tarea.id }}">
                                                        {% csrf_token %}
                                                        <li class=""><button type="submit" class="dropdown-item">• {{ sector_tarea }}</button></li>
                                                    </form>
                                            {% endfor %}
                                            </ul>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- Error  -->
    <div id="box-error" class="modal-dialog position-absolute z-3 d-flex d-none" role="document" style="width: 350px; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="modal-content rounded-4 shadow bg-white m-3 p-3" >
            <div class="modal-header border-bottom-0">
            <h1 class="modal-title fs-5">Error de comunicación</h1>
            <button type="button" class="btn-close" data-bs-close="modal"></button>
            </div>
            <div class="modal-body py-0">
            <p>Es necesario recargar la página para reestablecer la conexión</p>
            </div>
            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
            <a href="{{ request.path }}" class="btn btn-danger">Recargar</a>
            <!-- <button type="button" class="btn btn-secondary" data-bs-close="modal">Close</button> -->
            </div>
        </div>
    </div>

</div>

{% include 'chat/components/tarjeta_embudo_default.html' %}

{% block scripts %}
    {{ debug|json_script:"json-debug" }}
    <script src="{% static 'js/embudoWebSocket.js' %}"></script>
{% endblock %}
